<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sideb.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feed.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bu.css') }}">
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div class="feed-container">
		{% for post in post_list %}
		<center>
			<div class="post-card">
				<img src="{{ post['postpic'] }}" width="300px">
				<div class="post-info">
					<figcaption class="post-caption">{{ post['postdesc'] }}</figcaption>
				</div>
			</div>
		</center>
		{% endfor %}

		<div class="sidebar">
			<button class="nav-button" onclick="window.location.href='home'">Home</button>
			<button class="nav-button" onclick="window.location.href='add_post'">Add Post</button>
			<button class="nav-button" onclick="window.location.href='profile'">My Profile</button>
		</div>
	</div>
</body>
</html>