body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #b5d6d6;
}

.feed-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.post-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.post-info {
  padding: 10px;
  margin-top: 5px;
  color: #555;
}


